@import url('https://rsms.me/inter/inter.css');
@import '../../token';

.token-edu--balances {
  @extend .token-edu;
  @extend .token--margin;
}

.token-ixo--balances {
  @extend .token-ixo;
  @extend .token--margin;
}

.interFont {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.balances-firstLine {
  font-size: 14px;
  font-weight: 300;
  color: #828282;
}


.balances-secondLine {
  @extend .interFont;
  font-size: 24px;
  line-height: 155.48%;
}

.balances-thirdLine {
  @extend .interFont;
  font-size: 12px;
  line-height: 200%;
  color: #4F4F4F;
}

#alphaValue {
  color: #EB5757;
}
